@*<form asp-action="Index" asp-controller="Form">
    <label asp-for="TableFieldsNumber"></label>
    <input asp-for="TableFieldsNumber" placeholder="Some field value" />
    <input type="submit" value="create" />
</form>*@

<form asp-controller="Form" asp-action="Index" method="post">
    <label for="tableFieldsNumber">Table fields number</label>
    <input type="number" id="tableFieldsNumber" name="tableFieldsNumber"/>
    <input type="submit"/>
</form>